/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

:root {
    --font-color: #8ba29dcc; // #c5a65ecc; // #121826cc;
    --font-color-2: #8ba29d26; // #c5a65e26;
    --back-color: #131510cc; // #1f1d19cc; // #dfe2f3cc;
    --active-font-color: #131510cc;
    --active-back-color: #ba9770cc; // #8ba29dcc;
    --warn-color: #f58d56bf;
    --alert-color: #900029;
    
    --bar-block-margin-offset: 2px;
    --bar-block-margin-offset-x2: 4px;
    --inner-border-radius: 0.5em;
}
    
@keyframes bounce {
    70% { transform: translateY(0%); }
    80% { transform: translateY(-15%); }
    90% { transform: translateY(0%); }
    95% { transform: translateY(-7%); }
    97% { transform: translateY(0%); }
    99% { transform: translateY(-3%); }
    100% { transform: translateY(0); }
}
   
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(.3);
    padding-left: 10px;
    padding-right: 10px;
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% { 
    transform: scale(.9); 
  }
  100% { 
    transform: scale(1);
    padding-left: 20px;
    padding-right: 20px;
  }
}

@keyframes flip-up {
    from { transform: translateY(-2.35em); }
    to { transform: translateY(0em); }
    
    40%  { transform: translateY(0%); }
    50%  { transform: translateY(-25%); }
    60%  { transform: translateY(0%); }
    75%  { transform: translateY(-10%); }
    87%  { transform: translateY(0%); }
    99%  { transform: translateY(-5%); }
    100% { transform: translateY(0%); }
}

@keyframes flip-down {
    from { transform: translateY(0); }
    to { transform: translateY(-2.35em); }
}

@keyframes scale {
    50% {
        transform: scaleX(1.025);
    }
    
    100% {
        transform: scaleX(1);
    }
}

body {
    color: rgb(255 255 255 / 90%);
    font-family: ui-monospace, monospace;
    font-size: 12px;
}

html,
body,
#root {
    height: 100%;
}

#root {
    border-bottom: 1px solid rgb(255 255 255 / 5%);
    //background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));
    background: linear-gradient(to right, rgb(38 32 31 / 50%), rgb(38 32 31 / 100%));
}

.app {
    display: grid;
    //grid-template-columns: 1fr 0.75fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    font-family: "JetBrains Mono", ui-monospace, monospace;
    font-size: 14px;
    padding: 0px 15px;
    padding-left: 350px;
    padding-right: 350px;
    //border-bottom: 1px solid #222;
    //background: linear-gradient(rgb(0 0 0 / 40%), rgb(5 2 20 / 25%));
    //background: #26201f; // windows bar 38,32,31;
    //background: linear-gradient(to right, rgb(38 32 31 / 50%), rgb(38 32 31 / 100%));
}

.float-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.left,
.center,
.right {
    display: flex;
    align-items: center;
}

.center {
    justify-self: center;
}

.right {
    justify-self: end;
  
    .island-block {
        margin-left: 0.25em;
    }
    
    .island-blocks {
        margin-left: 0.25em;
        
        .island-block {
            margin-left: 0em;
        }
    }
}

.left .island-block {
    margin-right: 0.5em;
}

.island-blocks {
    user-select: none;
    border-radius: 0.8em;
    padding: 0.2em;
    //max-height: 1.85em;
    
    color: var(--font-color);
    background: var(--back-color);
    border: 2px solid transparent;
    box-shadow: inset 0px 1px 5px var(--font-color);
    
    //border: 2px solid var(--font-color);
    //box-shadow: 1px 3px 2px var(--back-color);

    .island-block {
        display: inline-block;
        overflow: clip;
        //max-height: 1.2em;
        max-height: 1.3em;
        vertical-align: middle;
        //transition: all 0.25s ease-in-out;
        font-weight: bold;
        border-radius: var(--inner-border-radius);
        
        &.active {
            color: var(--active-font-color);
            background: var(--active-back-color);
            //border: 2px solid var(--active-font-color);
            
            .bar-block {
                border: 1px solid var(--active-font-color);
                box-shadow: inset 0px 0px 4px var(--active-font-color);
                // background: var(--back-color);
                
                div {
                    background: var(--active-font-color);
                    // background: var(--font-color);
                }
            }
        }

        &.warn {
            background: var(--warn-color);
        }

        &.alert {
            background: var(--alert-color);
        }
        
        .inner-block {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0em 0.25em;
            border-radius: var(--inner-border-radius);
            
            &.active {
                background: var(--active-back-color);
                color: var(--active-font-color);
                box-shadow: inset 0px 0px 4px var(--back-color);
                
                &.focused {
                    background: var(--font-color) !important;
                }
            }
            
            &.warn {
                background: var(--warn-color);
                color: var(--active-font-color);
            }
            
            &.alert {
                background: var(--alert-color);
                color: var(--active-font-color);
            }
            
            &.icon-block {
                padding-left: 2em;            
                padding-top: 0.1em;
                
                i {
                    position: absolute;
                    left: 0.2em;
                    font-size: 1.2em;
                }
                
                &.large i {
                    top: -0.05em;
                    left: 0.15em;
                    font-size: 1.5em;
                }
                
                &.large.pull-up i {
                    top: -0.1em;
                }
            }
                
            span {
                vertical-align: middle;
            }
        }
        
        .bar-block {
            border-radius: 0.5em;
            width: 3em;
            height: 0.8em;
            overflow: clip;
            transform: translateY(20%);
            border: 1px solid var(--font-color);
            box-shadow: inset 0px 0px 4px var(--font-color);
            // background: var(--font-color);
            
            div {
                border-radius: 0.5em;
                height: calc(100% - var(--bar-block-margin-offset-x2));
                margin: var(--bar-block-margin-offset);
                transition: width 0.25s cubic-bezier(1,-0.52,.57,1.69);
                background: var(--font-color);
                // background: var(--back-color);
            }
        }
    }
}

.island-block .inner-block.button-block {
    border-radius: var(--inner-border-radius);
    margin-left: 0.75em;
    max-width: 10em;

    &:first-child {
        margin-left: 0em;
    }

    &:not(.active) {
        padding: 0em 0.5em;
        //outline: 1px outset var(--font-color);
        box-shadow: inset 0px 0px 4px var(--font-color);
    }

    &.active, &:hover {
        color: var(--active-font-color);
        background: var(--active-back-color);
        box-shadow: inset 0px 0px 4px var(--back-color);
    }

    &.active {
        padding: 0em 1em;
        animation: bounce-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }
}

.island-block.flipper:not(:hover) .inner-block, 
.island-block .inner-block:not(:hover) .flipper,
.island-block.flipper.flipped:hover .inner-block, 
.island-block .inner-block:hover .flipper.flipped {
    animation: flip-down 0.4s ease both;
}

.island-block.flipper:hover .inner-block, 
.island-block .inner-block:hover .flipper,
.island-block.flipper.flipped .inner-block, 
.island-block .inner-block .flipper.flipped {
    animation: flip-up 0.6s ease both;
}

.island-block.active {
    animation: scale 1.5s cubic-bezier(1,-0.52,.57,1.69) 1s infinite;
}

.island-block.active .icon-block i, 
.island-block .inner-block.icon-block.active i,
.island-block .inner-block.icon-block.warn i,
.island-block .inner-block.icon-block.alert i {
    animation: bounce 1.5s infinite;
}

.focused-window {
    max-width: 20em;
}

.focused-window, .island-block .inner-block.button-block {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    //-webkit-mask-image: linear-gradient(135deg, #000 80%, transparent);
}